# see https://help.github.com/en/articles/about-code-owners#example-of-a-codeowners-file

* @pagopa/io-platform-admins @pagopa/io-platform-contributors @pagopa/io-platform-ext 
/infra/ @pagopa/io-platform-admins